<section id="contact">
    <div class="contact-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3 contactWrapper">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2><span>03</span>Contactame!</h2>
                    </div><!-- end Section Title -->
                    <div class="row">
                        <div class="col text-center contact-info">
                            <div class="widget">
                            <ul>
                                <li>
                                    <h3><span class="icon_phone" aria-hidden="true"></span> {{ contact?.phone?.title }} </h3>
                                    <p>{{ contact?.phone?.value }}</p>
                                </li>
                                <li>
                                    <h3><span class="icon_mail" aria-hidden="true"></span> {{ contact?.email?.title }}</h3>
                                    <p>{{ contact?.email?.value }}</p>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div><!-- end Inner row -->
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</section>