<!-- Loader -->
<app-loader></app-loader>
<!-- end Loader -->

<!-- Sidebar -->
<app-sidebar></app-sidebar>
<!-- end Sidebar -->

<!-- About section -->
<app-about> </app-about>
<!-- end About section -->

<!-- Resume section -->
<app-resume></app-resume>
<!-- end Resume section -->

<!-- Contact section -->
<app-contact></app-contact>
<!-- end Contact section -->

<!-- Footer -->
<footer class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3 footer-background">
        <div class="row">
          <div class="col-sm-6 text-right">
           <i class="fa fa-heart-o red"></i> 
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- end Footer -->