<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2 sidebar">
        <div class="col-sm-2 sidebarWrapper">
          <!-- Avatar -->
          <img class="user-pic" [src]="shared?.mainImage" alt="" />
          <!-- Menu -->
          <div class="menu">
            <div class="toggle-btn">
              <span class="lines"></span>
            </div>
            <ul class="nav navlink">
              <li class="active">
                <a href="#about">Sobre mí</a>
              </li>
              <li>
                <a href="#resume">Resumen</a>
              </li>
              <li>
                <a href="#contact">Contactame</a>
              </li>
            </ul>
          </div>
          <!-- end Menu -->
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>